<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <app-drawer></app-drawer>
      <div
        class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start space-x-10"
      >
        <div class="flex-shrink-0 space-x-5">
          <h1 class="text-white">Paboma Market Center</h1>
        </div>
        <div class="hidden md:flex space-x-5">
          <a class="text-white">Categories</a>
          <a class="text-white">Deals</a>
        </div>
      </div>

      <div class="space-x-5">
        <a class="text-white">Sign In</a>
        <a class="text-white">Cart</a>
      </div>
    </div>
  </div>
</nav>
